extend _layout

block content
	.page-complex
		.title-block
			.subtitle Жилой комплекс
			h1 Дом на изумрудной
				
			include partials/transport-items

		.complex-hero
			.viewport
				img(src="img/big-complex-house.png", title="Дом на изумрудной")

				footer
					.text
						|«Дом на Изумрудной» расположен в Северо-Восточном округе Москвы, 
						|в районе Лосиноостровский, на ул. Изумрудная, 65. 
						|Дом со всех сторон окружен зелеными насаждениям, 
						|которые, за счет продуманного ландшафтного...&nbsp;
						a(href="#") Читать полностью

					.marker
						.label
							i
							|Проверено
							br
							|5 марта 2015 года

			.slider-gallery
				.left: i.icon-font.icon-font-arr-left
				.right: i.icon-font.icon-font-arr-right
				.frame
					ul.slidee
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?1")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?2")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?3")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?4")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?5")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?6")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?7")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?8")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?9")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?10")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?11")
						li: a(href="#"): span.image: img(src="http://lorempixel.com/140/105/?12")

		.container-24
			.grid-16
				nav.complex-categories
					.title В продаже:

					a(href="#") 
						|Квартиры-студии
						span 234
					a(href="#")
						|1-комнатные
						span 12
					a(href="#")
						|2-комнатные
						span 234
					a.warn(href="#")
						|4-комнатные
						span 2!
					a(href="#")
						|5-комнатные
						span 3

			.grid-8
				br
				a.complex-button.plans(href="#") Посмотреть планировки

			.clear

		.divider-50

		.container-24
			.grid-12
				a.complex-button.jumbo(href="#")
					span.title 1 м&sup2;
					span.accent 63 000&nbsp;
						span.currency.rub: span: |⃏

			.grid-12
				a.complex-button.jumbo(href="#") 
					span.title Квартира
					span.accent 2 400 000&nbsp;
						span.currency.rub: span: |⃏

			.clear

		.divider-50

		.complex-phones
			.title Спешите, предложения ограничены!

			i.icon-font.icon-font-phone-full

			.phones
				.left
					.num 8-800-555-65-55
					.desc Бесплатный звонок по России

				.right
					.num +7 (495) 555-65-55
					.desc Прямой московский

				.clear

		.divider-60

		.complex-info-cells
			.title Описание комплекса

			table
				tr
					td 21 этаж
					td Подземный паркинг
					td Ипотека, рассрочка
					td Круглосуточная охрана
				tr
					td Индивидуальный проект
					td 10 минут от&nbsp;метро
					td Уникальный дизайн
					td Вежливый консьерж

		.divider-60

		.complex-landing-header
			.heading
				i.icon-font.icon-font-star-full
				.title «Дом на Изумрудной»
				.subtitle Мечта, которую вы можете себе позволить!

		.divider-50
			
		.complex-phone
			i.icon-font.icon-font-phone-full
			.num 8-800-555-65-55
			.desc Бесплатный звонок по России


	script(src="js/complex.js")
