extend _layout

block content
	.page-complex
		.title-block
			.subtitle Жилой комплекс
			h1 Дом на изумрудной
				
		include partials/transport-items

		.complex-hero
			.viewport
				.image
					a(href="#", target="_blank")
						img(src="i/big-complex-house.png", alt="Дом на изумрудной")

				footer
					.text
						|«Дом на Изумрудной» расположен в Северо-Восточном округе Москвы, 
						|в районе Лосиноостровский, на ул. Изумрудная, 65. 
						|Дом со всех сторон окружен зелеными насаждениям, 
						|которые, за счет продуманного ландшафтного...&nbsp;
						a(href="#", target="_blank") Читать полностью

					.marker
						.label
							i
							|Проверено
							br
							|5 марта 2015 года

		.complex-gallery
			a.left(href="#", target="_blank"): i.icon-font.icon-font-arr-left
			a.right(href="#", target="_blank"): i.icon-font.icon-font-arr-right
			.frame
				ul.slidee
					li: a(href="#", target="_blank"): span.image: img(src="http://lorempixel.com/140/105/?1")
					li: a(href="#", target="_blank"): span.image: img(src="http://lorempixel.com/140/105/?2")
					li: a(href="#", target="_blank"): span.image: img(src="http://lorempixel.com/140/105/?3")
					li: a(href="#", target="_blank"): span.image: img(src="http://lorempixel.com/140/105/?4")

		hr
		.divider-30

		.container-24
			.grid-16
				nav.complex-categories
					.title В продаже:

					a(href="#", target="_blank") 
						|Квартиры-студии
						span 234
					a(href="#", target="_blank")
						|1-комнатные
						span 12
					a(href="#", target="_blank")
						|2-комнатные
						span 234
					a.warn(href="#", target="_blank")
						|4-комнатные
						span 2!
					a(href="#", target="_blank")
						|5-комнатные
						span 3

			.grid-8
				br
				a.complex-button.plans(href="#", target="_blank"): span.inner Посмотреть планировки

			.clear

		.divider-50

		.container-24
			.grid-12
				a.complex-button.jumbo(href="#", target="_blank")
					span.title 1 м&sup2;
					span.accent
						span.pre от
						|63 000&nbsp;
						span.currency.rub: span: |⃏

			.grid-12
				a.complex-button.jumbo(href="#", target="_blank") 
					span.title Квартира
					span.accent 
						span.pre от
						|2 400 000&nbsp;
						span.currency.rub: span: |⃏

			.clear

		.divider-50

		.complex-phones
			.title Спешите, предложения ограничены!

			i.icon-font.icon-font-phone-full-02

			.phones
				.left
					.num 8-800-555-65-55
					.desc Бесплатный звонок по России

				.right
					.num +7 (495) 555-65-55
					.desc Прямой московский

				.clear

		.divider-60

		.complex-map(data-center="[55,25]", data-title="Текст&nbsp;Баллуна", data-area="[[[53.75, 35.80],[53.80, 35.90],[53.75, 36.00],[53.70, 36.00],[53.70, 35.80]]]")
			#complex-map.map-container
			.links
				a(href="#", target="_blank") Развернуть карту

		.divider-60

		.complex-info-cells
			.title Описание комплекса

			table
				tr
					td: a(href="#", target="_blank") 21 этаж
					td: a(href="#", target="_blank") Подземный паркинг
					td: a(href="#", target="_blank") Ипотека, рассрочка
					td: a(href="#", target="_blank") Круглосуточная охрана
				tr
					td: a(href="#", target="_blank") Индивидуальный проект
					td: a(href="#", target="_blank") 10 минут от&nbsp;метро
					td: a(href="#", target="_blank") Уникальный дизайн
					td: a(href="#", target="_blank") Вежливый консьерж

		.divider-60

		.complex-landing-header
			.heading
				i.icon-font.icon-font-heart
				.title «Дом на Изумрудной»
				.subtitle Мечта, которую вы можете себе позволить!

		.divider-50
			
		.complex-phone
			i.icon-font.icon-font-phone-full-02
			.num 8-800-555-65-55
			.desc Бесплатный звонок по России

		.divider-50

		hr

		.divider-60

		.complex-cat
			h2.title Жилые комплексы на Квадрум
			.divider-40

			.container-24
				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?1")
						span.title ЖК «Ясные зори»
						span.subtitle Химки

				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?2")
						span.title ЖК «Ясные зори»
						span.subtitle Москва, м. Юго-Западная

				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?3")
						span.title ЖК «Солнечная долина»
						span.subtitle Зеленоград

				.clear

				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?4")
						span.title ЖК «Ясные зори»
						span.subtitle Химки

				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?5")
						span.title ЖК «Ясные зори»
						span.subtitle Москва, м. Юго-Западная

				.grid-8
					a.item(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/?6")
						span.title ЖК «Солнечная долина»
						span.subtitle Зеленоград

				.clear

	script(src="js/complex.js")
