extend _layout

block content
	.divider-30
	.page-title: .w100.h75: body: tr: td: h1.page-title-header.h1-35 Бизнес-центры  Москвы и Подмосковья

	include partials/breadcrumbs

	.zk-catalog-block
		.main-filter-container.filter-string
			.main-filter
				.row
					p.search-string-zk
						input.entry(tabindex='1', placeholder='Введите метро, район, названия ЖК, город...')
					#search-result

		.complex-map.map-zk-catalog(data-center="[55,25]", data-title="Текст&nbsp;Баллуна", data-zoom="10", data-url="http://ya.ru" data-area="[[[55.75, 37.80],[55.80, 37.90],[55.75, 38.00],[55.70, 38.00],[55.70, 37.80]]]")
			#map-zk-catalog.map-container
			.links: a#fullscreen-trigger(href="#", target="_blank") Развернуть карту

	.divider-50
	include partials/bottom-seo-block

	script(src="js/zk-catalog.js")