.creeper-wrap
	.creeper-wrap-inner(style='position: static;')
		.sticky-aside
			.right-col-250
				a.my-lovely(href="#")
					i.icon-font.icon-font-commers
					|2 рекламных объявления, которые вас заинтересовали

			.divider-40

			.banner-1
				.right-col-250.mb30.banner-250x250.sticky-banner(data-swf='1')
					object#side-bbb-banner-260(type='application/x-shockwave-flash', data='http://v2s.kvadroom.ru/i/bigboss/260.swf', width='250', height='250', style='visibility: visible;')
						param(name='wmode', value='opaque')
						param(name='flashvars', value='target=_blank&link1=http%3A%2F%2Fsamara.kvadroom.ru%2Fgo81.php%3Fo_id%3D260')
			.divider-10
			.banner-2
				.right-col-250.mb30.banner-250x250.sticky-banner(data-swf='1')
					object#side-bbb-banner-271(type='application/x-shockwave-flash', data='http://v2s.kvadroom.ru/i/bigboss/271.swf', width='250', height='250', style='visibility: visible;')
						param(name='wmode', value='opaque')
						param(name='flashvars', value='target=_blank&link1=http%3A%2F%2Fsamara.kvadroom.ru%2Fgo81.php%3Fo_id%3D271')

