.breadcrumbs-new
	ul.row
		li.item.ico: a.link(href="/"): i.icon-font.icon-font-home
		li.item: a.link.kiv-e(href="#"): span Москва
		li.item: a.link.kiv-e(href="#"): span Северо-Западный
		li.item: a.link.kiv-e(href="#"): span Хорошево-Мневники
		li.item: a.link.kiv-e(href="#"): span Продажа квартир
		li.item: a.link.kiv-e(href="#"): span 2-комнатные