footer.footer.footer-new
  .footer-content
    .left
      .heading
        span.item
          | &copy; 2005 – 2015 Квадрум 
          sup ®

        a.item.kiv-e(rel='nofollow', target='_blank', href='http://help.kvadroom.ru/') Помощь
        a.item.kiv-e.bold(rel='nofollow', target='_blank', href='http://my.kvadroom.ru/add/') Разместить объявление

      .sub
        a.item.kiv-e(rel='nofollow', target='_blank', href='http://help.kvadroom.ru/legal/agreement/') Пользовательское соглашение
        a.item.kiv-e(rel='nofollow', target='_blank', href='http://help.kvadroom.ru/legal/privacy/') Политика конфиденциальности
        a.item.kiv-e(target='_blank', href='http://reg.kvadroom.ru/') Недвижимость в регионах
        
    .right