.header-placeholder
    header.page-width.header
      i.scroll-shadow

      a.nav-main-button(rel='nofollow', href='#stayhere')
        span.nav-main-button-holder
          span.nav-main-button-icon.icon-font.icon-font-menu-3lines

      .nav-main-container
        a.nav-main-container-button(rel='nofollow', href='#stayhere')
          span.nav-main-container-icon.icon-font.icon-font-menu-3lines

        nav.tabs.tabs-big.tabs-main-menu
          a.tab-link.kiv.first.tab-link_active(rel='nofollow', data-tab='main-menu-1', data-tab-ns='main-menu', href='#stayhere')
            span.nav-main-links-table-link-text.kiv-e Купить
          a.tab-link.kiv(rel='nofollow', data-tab='main-menu-2', data-tab-ns='main-menu', href='#stayhere')
            span.nav-main-links-table-link-text.kiv-e Снять
          a.tab-link.kiv(rel='nofollow', data-tab='main-menu-3', data-tab-ns='main-menu', href='#stayhere')
            span.nav-main-links-table-link-text.kiv-e Снять на сутки
          a.tab-link.kiv.last(rel='nofollow', data-tab='main-menu-4', data-tab-ns='main-menu', href='#stayhere')
            span.nav-main-links-table-link-text.kiv-e Изучить
          .clear

        .nav-main-container-content
          .tab-content.tab-content-ns-main-menu.tab-content-main-menu-1.tab-content_active
            ul.nav-main-links-table
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/novostroyki/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Новостройки
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/garaji-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Гаражи и машиноместа
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/proizvodstvo-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Под производство
              li
                a.nav-main-links-table-link.crop-text.kiv.nav-main-links-table-link_hover(href='http://kras.kvadroom.ru/kupit-kvartiru/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Квартиры
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/ofisy-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Офисы
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/obshepit-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Под общепит
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/kupit-komnatu/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Комнаты
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/torgovie-ploshadi-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Торговые площади
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/avtoservis-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Под автосервис
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/kupit-taunhaus/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Таунхаусы
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/skladi-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Склады
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/bitovie-uslugi-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Под бытовые услуги
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/kupit-dom/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Дома
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/psn-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Свободного назначения
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/zemlia-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Земельные участки
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/zemelnie-uchastki/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Участки
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/zdaniya-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Здания целиком
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/business-kupit/')
                  span.nav-main-links-table-link-text.kiv-e Готовый бизнес
          .tab-content.tab-content-ns-main-menu.tab-content-main-menu-2
            ul.nav-main-links-table
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-kvartiru/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Квартиры
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/garaji-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Гаражи и машиноместа
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/proizvodstvo-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Под производство
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-komnatu/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Комнаты
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/ofisy-sniat/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Офисы
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/obshepit-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Под общепит
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-taunhaus/')
                  span.nav-main-links-table-link-text.kiv-e Таунхаусы
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/torgovie-ploshadi-sniat/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Торговые площади
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/avtoservis-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Под автосервис
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-dom/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Дома
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/skladi-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Склады
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/bitovie-uslugi-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Под бытовые услуги
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-dachu/')
                  span.nav-main-links-table-link-text.kiv-e Дачи
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/psn-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Свободного назначения
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/business-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Готовый бизнес
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/sniat-kottedj/')
                  span.nav-main-links-table-link-text.kiv-e Коттеджи
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/zdaniya-sniat/')
                  span.nav-main-links-table-link-text.kiv-e Здания целиком
              li.nav-main-links-table-link-dummy
          .tab-content.tab-content-ns-main-menu.tab-content-main-menu-3
            ul.nav-main-links-table
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/kvartiri-posutochno/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Квартиры посуточно
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/komnati-posutochno/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Комнаты посуточно
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://kras.kvadroom.ru/kottedji-posutochno/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Коттеджи посуточно
          .tab-content.tab-content-ns-main-menu.tab-content-main-menu-4
            ul.nav-main-links-table
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://cons.kvadroom.ru', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Консультации
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://journal.kvadroom.ru', rel='nofollow', target='_blank')
                  span.nav-main-links-table-link-text.kiv-e Квадрум. Журнал
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://planirovki.kvadroom.ru/', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Планировки квартир
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://my.kvadroom.ru/add/?d=kras', rel='nofollow')
                  span.nav-main-links-table-link-text.kiv-e Разместить объявление
              li
                a.nav-main-links-table-link.crop-text.kiv(href='http://help.kvadroom.ru/', rel='nofollow', target='_blank')
                  span.nav-main-links-table-link-text.kiv-e Помощь по сайту
      a.kvadroom-logo-link.kiv.kiv-e.kvadroom-logo-link-short(href='/')
        span.icon.icon-kvadroom-logo
          i Квадрум

      .user-block
        .user-block-autherized-info
          a.user-block-autherized-info-link.kiv(href='#stayhere', title='Алексей')
            span.user-block-autherized-info-avatar
              img.user-block-autherized-info-avatar-image(src='http://imgb.kvadroom.ru/i/billing/13681903-small.jpg', width='40', height='40', style='opacity: 1;', alt='Алексей')

            span.user-block-autherized-info-name
              span.user-block-autherized-info-name-text.kiv-e Алексей
              i.arrow-triangle-down

          .user-menu
            nav.nav-user-menu
              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_money.html')
                span.kiv-e Объявления
                  span.count 4
                
              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_company_adv.html')
                span.kiv-e Уведомления
                  span.count 12

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/support.php')
                span.kiv-e Подписки
                  span.count 7

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e Избранные
                  span.count 311

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e Сравнения
                  span.count 6

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e История поиска
                  span.count 4289

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e Деньги
                  span.count 2 394,25 
                    span.rub
                      i ⃏

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e Настройка

              a.nav-user-menu-link.kiv(href='http://samara.kvadroom.ru/?action=LOGOUT&from=http://www.bproject.kvadroom.ru%2F')
                span.kiv-e Выход

        .user-block-icons
          a.user-block-icons-item.kiv.kiv-e(href='http://my.kvadroom.ru/my_company_adv.html', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.icon-font-compare
            span.user-block-icons-icon-text 5

          a.user-block-icons-item.kiv.kiv-e(href='http://www.bproject.kvadroom.ru/favorites/', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.favorites-icon-anchor.icon-font-heart
            span.user-block-icons-icon-text 18

      .right-side
        a.button-make-ad.kiv.kiv-e(rel='nofollow', href='http://my.kvadroom.ru/add/?d=www.bproject') Разместить бесплатно

      .open-filter.open-filter-new
        span Изменить условия поиска
