.header-placeholder
    header.page-width.header
      i.scroll-shadow

      a.nav-main-button(rel='nofollow', href='#stayhere')
        span.nav-main-button-holder
          span.nav-main-button-icon.icon-font.icon-font-menu-3lines

      .nav-main-container
        a.nav-main-container-button(rel='nofollow', href='#stayhere')
          span.nav-main-container-icon.icon-font.icon-font-menu-3lines

      a.kvadroom-logo-link.kiv.kiv-e.kvadroom-logo-link-short(href='/')
        span.icon.icon-kvadroom-logo
          i Квадрум

      .header-phones
        span.hp-title Офис продаж:
        |+7 (926) 960-40-20
        i.icon-font.icon-font-phone-full-02
        |+7 (926) 960-40-20

      .open-filter.open-filter-new
        span Изменить условия поиска
