meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Kvadroom HTML

link(rel="stylesheet", type="text/css", href="css/kv.css")

script(src="js/_.js")
script(src="js/jquery.js")
script(src="js/jquery.KVSearchString.js")
script(src="js/jquery.autosizeInput.js")
script(src="js/jquery.KVMainSearchString.js")
script(src="js/jquery.KVLoadingElement.js")
script(src="js/jquery.KVMetaLink.js")
script(src="js/clickuotside.js")
script(src="js/ractive.js")
script(src="js/bloodhound.js")
script(src="js/easing.js")
script(src="js/sly.js")
script(src="js/maps.js")
script(src="js/custom-scrollbar.js")
script(src="js/sticky-kit.js")