.header-placeholder
    header.page-width.header
      i.scroll-shadow

      a.nav-main-button(rel='nofollow', href='#stayhere')
        span.nav-main-button-holder
          span.nav-main-button-icon.icon-font.icon-font-menu-3lines

      .nav-main-container
        a.nav-main-container-button(rel='nofollow', href='#stayhere')
          span.nav-main-container-icon.icon-font.icon-font-menu-3lines

      a.kvadroom-logo-link.kiv.kiv-e.kvadroom-logo-link-short(href='/')
        span.icon.icon-kvadroom-logo
          i Квадрум

      .user-block
        .user-block-autherized-info
          a.user-block-autherized-info-link.kiv(href='#stayhere', title='Алексей')
            span.user-block-autherized-info-avatar
              img.user-block-autherized-info-avatar-image(src='http://imgb.kvadroom.ru/i/billing/13681903-small.jpg', width='40', height='40', style='opacity: 1;', alt='Алексей')

            span.user-block-autherized-info-name
              span.user-block-autherized-info-name-text.kiv-e Алексей
              i.arrow-triangle-down

          .user-menu
            nav.nav-user-menu
              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_money.html')
                span.kiv-e История платежей
                
              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_company_adv.html')
                span.kiv-e Мои объявления

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/support.php')
                span.kiv-e Сообщения

              a.nav-user-menu-link.kiv(href='http://my.kvadroom.ru/my_info.php')
                span.kiv-e Настройка

              a.nav-user-menu-link.kiv(href='http://samara.kvadroom.ru/?action=LOGOUT&from=http://www.bproject.kvadroom.ru%2F')
                span.kiv-e Выйти из системы

        .user-block-icons
          a.user-block-icons-item.kiv.kiv-e(href='http://my.kvadroom.ru/my_company_adv.html', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.icon-font-advert
            span.user-block-icons-icon-text 5

          a.user-block-icons-item.kiv.kiv-e(href='http://www.bproject.kvadroom.ru/favorites/', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.favorites-icon-anchor.icon-font-star-full
            span.user-block-icons-icon-text 18

          a.user-block-icons-item.kiv.kiv-e(href='http://my.kvadroom.ru/support.php', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.icon-font-mail
            span.user-block-icons-icon-text 2

          a.user-block-icons-item.kiv.kiv-e(href='http://my.kvadroom.ru/my_money.html', rel='nofollow')
            span.user-block-icons-icon-symbol.icon-font.icon-font-money
            span.user-block-icons-icon-text

              | 1624.01 
              span.rub
                i ⃏

      .right-side
        a.button-make-ad.kiv.kiv-e(rel='nofollow', href='http://my.kvadroom.ru/add/?d=www.bproject') Разместить бесплатно

      .open-filter.open-filter-new
        span Изменить условия поиска
