.pagination-block
	ul.pagination
		li: a(href='#', rel='nofollow') 1
		li: a(href='#', rel='nofollow') 2
		li: a(href='#', rel='nofollow') 3
		li: a(href='#', rel='nofollow') 4
		li.active: span 5
		li: a(href='#', rel='nofollow') 6
		li: a(href='#', rel='nofollow') 7
		li: a(href='#', rel='nofollow') 8
		li: a(href='#', rel='nofollow') 9
		li.ellipsis: a(href='#', rel='nofollow') 10
		li: a(href='#', rel='nofollow') 6063
