doctype html
html
	head
		include partials/head
		
	body.version3
		.wrapper.page-width
			include partials/header2

		.panoram
			.inner
				.title Недвижимость в Москве и Московской области
				a.btn.blue(href="#") Найти

		.wrapper.page-width
			block content
				
			include partials/footer