doctype html
html
	head
		include partials/head
		
	body.version3.main-page
		.wrapper.page-width
			include partials/header2
	
		.panoram
			.dop_div
				ul.bgSlider
					li
						img(class="lazy", data-src="/i/cottage_01.jpg")
					li
						img(class="lazy", data-src="/i/patio_01.jpg")
					li
						img(class="lazy", data-src="/i/house_01.jpg")
					li
						img(class="lazy", data-src="/i/interior_01.jpg")
					li
						img(class="lazy", data-src="/i/shale_01.jpg")
					li
						img(class="lazy", data-src="/i/land_01.jpg")
					li
						img(class="lazy", data-src="/i/interior_02.jpg")

			.inner
				.hero-title Воплоти мечту
				h1 Недвижимость в Москве и Московской области
				ul.input-group
					li.dropdown
						.title Купить
						ul.items
							li(data-value="1") На сутки
							li(data-value="2") Снять
							li.active(data-value="3") Купить
					li.dropdown
						.title Квартиру
						ul.items
							li.active(data-value="2",) Квартиру
							li(data-value="3") Комнату
							li(data-value="4") Таунхаус
							li(data-value="5") Дом
							li(data-value="6") Участок
							li(data-value="7") Гараж
							li(data-value="8") Нежилое
					
					li
						.filter(data-placeholder="Введите город, регион, улицу и т.п.", data-width="460")
					li
						a.btn.blue(href="#") Найти
		.sp-group
			.inner
				.sp-2-cards
					a.spitem(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/city/?r=0")
						span.info
							span.title Одна строка
							.desc 
								.text Квартиры и апартаменты от 5 млн! М.Фили. Подземный паркинг. Рядом Филевский парк и «Москва Сити».
								.foot
									|MR Group 
									br
									|+7 (495) 150-02-41

					a.spitem(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/city/?r=1")
						span.info
							span.title Две <br> Строки
							.desc 
								.text Квартиры от 3,2 млн руб. Своя территория у реки, детсад. Панель П-44. Пл. 35-87 м2. Мкрн заселяется
								.foot
									|ООО «10 квартал»
									br
									|+7 (495) 510-10-94
				
					a.spitem(href="#", target="_blank")
						span.image: img(src="http://lorempixel.com/300/225/city/?r=2")
						span.info
							span.title «Эко Видное». 4км от Москвы
							.desc 
								.text Квартиры от 3,2 млн руб. Своя территория у реки, детсад. Панель П-44. Пл. 35-87 м2. Мкрн заселяется
								.foot
									|ООО «10 квартал»
									br
									|+7 (495) 510-10-94

		.bb-group
			.inner
				.container-24
					.grid-12
						a.btn.large.al.count(data-count="231 424") Купить квартиру
					.grid-12
						a.btn.large.al.count(data-count="231 424") Снять квартиру
					.clear

		.seo-links
			.inner
				.container-24
					.grid-16.push-4.ac
						ul.fast-links.objects
							li 
								a(href="javascript:void(0)") Дома
							li 
								a(href="javascript:void(0)") Коттеджи
							li
								a(href="javascript:void(0)") Таунхаусы
							li
								a(href="javascript:void(0)") Гаражи
							li.lnbr
								a(href="javascript:void(0)") Земельные участки
							li 
								a(href="javascript:void(0)") Офисы
							li 
								a(href="javascript:void(0)") Торговые площадки
							li 
								a(href="javascript:void(0)") Готовый бизнес
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=11")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Эко Парк Нахабино»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=12")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Цены «с ног на голову»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=13")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Борисоглебское» от  1.9 млн
					.clear

		.bb-group
			.inner
				.btn-group-2.container-24
					.grid-12
						a.btn.large.al.count(data-count="231 424") Жилые комплексы
					.grid-12
						a.btn.large.al.count(data-count="231 424") Коттеджные поселки
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=21")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Фили Град»
							
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=22")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Акция! 
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=23")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.journal
			.inner
				.journal-title.ac  
					img(src="../i/journal-logo.svg")
				.journal-body
					a.journal-left(href="javascript:void(0)")
						.post-image
							img(src="http://lorempixel.com/600/469/city/?r=21")
						.post-meta-wrapper
							.post-meta
								.meta-middle
									.meta-small «Достать до облаков»
									.meta-teaser В Москве всё больше жителей прописывается в «поднебесье»
					.journal-right
						ul.journal-nav
							li.push
								a(href="javascript:void(0)") 
									img(src="http://lorempixel.com/90/80/city/?r=23")
									.text Быстрая стройка — выход из кризиса
							li.push
								a(href="javascript:void(0)") 
									.image
										img(src="http://lorempixel.com/90/80/city/?r=29")
									.text Парковый эффект
							li.push
								a(href="javascript:void(0)") 
									.image
										img(src="http://lorempixel.com/90/80/city/?r=41")
									.text Русские идут
							li
								a(href="javascript:void(0)") 
									.text Все статьи
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=31")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Фили Град»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=32")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Акция!
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=33")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
									.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.call-to-action.action-3
			.inner
				.hero-title Зарегистрируйтесь <br>и получите еще больше!
				.icons-set.container-24.ac
					.grid-6
						.icon-box
							.icon-svg-comparison
						.icon-title Сравнивайте <br>объекты

					.grid-6
						.icon-box
							.icon-svg-favorite
						.icon-title Добавляйте <br>в избранное

					.grid-6
						.icon-box
							.icon-svg-settings
						.icon-title Настраивайте <br>поиск

					.grid-6
						.icon-box
							.icon-svg-subscribe
						.icon-title Оформите <br>подписку

					.clear
				.ac
					a.btn.small.blue.do-register Зарегистрироваться

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=41")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title ЖК «Фили Град»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=42")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Акция!
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=43")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.call-to-action.action-2
			.inner
				.hero-title Разместите объявление на Квадрум.ру
				.icons-set.container-24.ac
					.grid-6
						.icon-box
							.icon-svg-design
						.icon-title Лаконичный <br>дизайн

					.grid-6
						.icon-box
							.icon-svg-bigphoto
						.icon-title Крупные <br>фотографии

					.grid-6
						.icon-box
							.icon-svg-clicks
						.icon-title Доступное <br>продвижение

					.grid-6
						.icon-box
							.icon-svg-stats
						.icon-title Эффективность <br>100%

					.clear
				.ac
					a.btn.small.blue.do-register Подать объявление

		.sp-group
			.inner
				.container-24
					.grid-8
						.sp-item
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=51")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title ЖК «Фили Град»
					.grid-8
						.sp-item
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=52")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Акция!
					.grid-8
						.sp-item
							.sp-wrapper
								.inner-image
									img(src="http://lorempixel.com/300/225/city/?r=53")
								.inner-meta 
									.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.seo-list 
						
		.wrapper.page-width
			include partials/footer
		
		script(src="js/offers-2.0.js")