doctype html
html
	head
		include partials/head
		
	body.version3
		.wrapper.page-width
			include partials/header2

		.panoram
			.inner
				.container-24
					.grid-20.push-2
						.hero-title Недвижимость в Москве <br>и Московской области
						ul.input-group
							li.dropdown
								.title Купить
								ul.items
									li(data-value="1") На сутки
									li(data-value="2") Снять
									li.active(data-value="3") Купить
							li.dropdown
								.title Квартиру
								ul.items
									li.active(data-value="2",) Квартиру
									li(data-value="3") Комнату
									li(data-value="4") Таунхаус
									li(data-value="5") Дом
									li(data-value="6") Участок
									li(data-value="7") Гараж
									li(data-value="8") Нежилое
							
							li
								.filter(data-placeholder="Введите город, регион, улицу и т.п.", data-width="360")
							li
								a.btn.blue(href="#") Найти
						script
								$(function(){$('.filter').KVTestSearchString({"dataGetter":function(val){return {'text':val};},'url':'http://www.kvadroom.ru/action/search_text/'});})

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=1")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Фили Град»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=2")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Акция!
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=3")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.bb-group
			.inner
				.container-24
					.grid-12
						.btn.large.al.count(data-count="231 424") Купить квартиру
					.grid-12
						.btn.large.al.count(data-count="231 424") Снять квартиру
					.clear

		.seo-links
			.inner
				.container-24
					.grid-16.push-4.ac
						ul.fast-links.objects
							li 
								a(href="javascript:void(0)") Дома
							li 
								a(href="javascript:void(0)") Коттеджи
							li
								a(href="javascript:void(0)") Таунхаусы
							li 
								a(href="javascript:void(0)") Гаражи
							li 
								a(href="javascript:void(0)") Земельные участки
							li 
								a(href="javascript:void(0)") Офисы
							li 
								a(href="javascript:void(0)") Торговые площадки
							li 
								a(href="javascript:void(0)") Готовый бизнес
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=11")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Эко Парк Нахабино»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=12")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Цены «с ног на голову»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=13")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Борисоглебское» от  1.9 млн
					.clear

		.bb-group
			.inner
				.btn-group-2.container-24
					.grid-12
						.btn.large.al.count(data-count="231 424") Жилые комплексы
					.grid-12
						.btn.large.al.count(data-count="231 424") Коттеджные поселки
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=21")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Фили Град»
							
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=22")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Акция! 
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=23")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.journal
			.inner
				.journal-title.ac  
					img(src="../i/journal-logo.svg")
				.journal-body
					a.journal-left(href="javascript:void(0)")
						.post-image
							img(src="http://lorempixel.com/600/469/city/?r=21")
						.post-meta-wrapper
							.post-meta
								.meta-middle
									.meta-small «Достать до облаков»
									.meta-teaser В Москве всё больше жителей прописывается в «поднебесье»
					.journal-right
						ul.journal-nav
							li 
								a(href="javascript:void(0)") 
									.push-image
										img(src="http://lorempixel.com/90/80/city/?r=23")
									.push-text Быстрая стройка — выход из кризиса
							li
								a(href="javascript:void(0)") 
									.push-image
										img(src="http://lorempixel.com/90/80/city/?r=29")
										.push-text Парковый эффект
							li
								a(href="javascript:void(0)") 
									.push-image
										img(src="http://lorempixel.com/90/80/city/?r=41")
									.push-text Русские идут
							li
								a(href="javascript:void(0)") 
									.push-text Все статьи
					.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=31")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title ЖК «Фили Град»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=32")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Акция!
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=33")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
										.inner-address	ООО "10 квартал"<br> +7 (495) 510-1094
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.call-to-action.action-1
			.inner
				.get-registred
					.ac
						.hero-block
							.hero-title 
								|Хотите искать эффективнее?
								<br>
								|Зарегистрируйтесь!
							.container-24
								.grid-16.push-4
									.hero-text
										|Зарегистрированные пользователи получают доступ
										|ко всему функционалу сайта: избранное, сравнение, уведомления, подписка на результаты поиска и многое другое.
									.btn.small.blue.do-register Зарегистрироваться
								.clear

		.sp-group
			.inner
				.container-24
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=41")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title ЖК «Фили Град»
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=42")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Акция!
					.grid-8
						a.sp-item(href="javascript:void(0)")
							.sp-wrapper
								.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=43")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.call-to-action.action-2
			.inner
				.hero-title Подайте объявление на Квадрум.ру
				.icons-set.container-24.ac
					.grid-6
						.icon-box
							.icon-svg-design
						.icon-title Лаконичный <br>дизайн

					.grid-6
						.icon-box
							.icon-svg-bigphoto
						.icon-title Крупные <br>фотографии

					.grid-6
						.icon-box
							.icon-svg-clicks
						.icon-title Доступное <br>продвижение

					.grid-6
						.icon-box
							.icon-svg-stats
						.icon-title Эффективность <br>100%

					.clear
				.ac
					.btn.small.blue.do-register Подать объявление

		.sp-group
			.inner
				.container-24
					.grid-8
						.sp-item
							.sp-wrapper
								a.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=51")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title ЖК «Фили Град»
					.grid-8
						.sp-item
							.sp-wrapper
								a.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=52")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Акция!
					.grid-8
						.sp-item
							.sp-wrapper
								a.sp-anchor
									.inner-image
										img(src="http://lorempixel.com/300/225/city/?r=53")
									.inner-meta 
										.inner-text	МО, Север, 45 минут до центра. Готовые объекты в уютном поселке. Ждем звонка!
							.sp-title Ваша победа с ЖК «Царицыно»
					.clear

		.seo-list 

		.wrapper.page-width
			include partials/footer
		
		script(src="js/offers-2.0.js")