doctype html
html
	head
		include partials/head
		
	body.version3
		.wrapper.page-width
			include partials/header2

		.panoram
			.inner
				.ac
					.hero-title Недвижимость в Москве и Московской области
				.container-24
					.grid-8
						.dropdown
							.title Москва и Московская область
							ul.items
								li(data-value="1") Новостройки
								li(data-value="2") Квартиры
								li.active(data-value="3") Комнаты
								li(data-value="4") Таунхаусы
								li(data-value="5") Дома
								li(data-value="6") Участки
								li(data-value="7") Гаражи
								li(data-value="8") Нежилые

					.grid-8
						.dropdown(data-count="45 672")
							.title Квартиры
							ul.items
								li(data-value="1", data-count="1234") Новостройки
								li(data-value="2", data-count="123") Квартиры
								li.active(data-value="3", data-count="2223") Комнаты
								li(data-value="4", data-count="44") Таунхаусы
								li(data-value="5", data-count="34") Дома
								li(data-value="6", data-count="9445") Участки
								li(data-value="7", data-count="21") Гаражи
								li(data-value="8", data-count="2345") Нежилые

					.grid-8
						.selectors.right-side.selector-sort
							span.group
								a.active(href="#") Купить
								a(href="#") Снять
								a(href="#") На сутки

					.clear

				input.main-page-search-strings(placeholder="Введите уточнение региона, например: Химки или Арбатская")
				.ac
					a.btn.blue(href="#") Найти	
		.actions
			.inner
				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=1")
							.action-title ЖК «Фили Град»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=2")
							.action-title Акция!
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=4")
							.action-title Ваша победа с ЖК «Царицыно»
					.clear

				.btn-group-1.container-24
					.grid-12
						.btn.large.al.count(data-count="231 424") Купить квартиру
					.grid-12
						.btn.large.al.count(data-count="231 424") Снять квартиру
					.clear

				.container-24
					.grid-16.push-4.ac
						ul.fast-links.objects
							li 
								a(href="javascript:void(0)") Дома
							li 
								a(href="javascript:void(0)") Коттеджи
							li
								a(href="javascript:void(0)") Таунхаусы
							li 
								a(href="javascript:void(0)") Гаражи
							li 
								a(href="javascript:void(0)") Земельные участки
							li 
								a(href="javascript:void(0)") Офисы
							li 
								a(href="javascript:void(0)") Торговые площадки
							li 
								a(href="javascript:void(0)") Готовый бизнес
					.clear
				//- убрать переносы строки
				<br><br>
				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=11")
							.action-title ЖК «Эко Парк Нахабино»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=21")
							.action-title Цены «с ног на голову»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=41")
							.action-title ЖК «Борисоглебское» от  1.9 млн
					.clear


				.btn-group-2.container-24
					.grid-12
						.btn.large.al.count(data-count="231 424") Жилые комплексы
					.grid-12
						.btn.large.al.count(data-count="231 424") Коттеджные поселки
					.clear


				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=21")
							.action-title ЖК «Фили Град»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=22")
							.action-title Акция! 
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=223")
							.action-title Ваша победа с ЖК «Царицыно»
					.clear

				.journal
					.journal-title.ac  
						include ../i/journal-logo.svg
					.journal-body
						.journal-left
							.post-small «Достать до облаков»
							.post-header В Москве всё больше жителей прописывается в «поднебесье»

						.journal-right
							ul.journal-nav
								li
									a Быстрая стройка — выход из кризиса
								li
									a Парковый эффект
								li
									a Русские идут
								li
									a Все статьи
						.clear
				//- убрать переносы строки 
				<br><br>
				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=31")
							.action-title ЖК «Фили Град»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=32")
							.action-title Акция!
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=34")
							.action-title Ваша победа с ЖК «Царицыно»
					.clear
				<br><br>
				.get-registred
					.ac
						.hero-block
							.hero-title 
								— Как искать быстрее и эффективнее?
								<br>
								— Зарегистрируйтесь!
							.container-24
								.grid-16.push-4
									.hero-text
										Зарегистрированные пользователи получают доступ
										ко всему функционалу сайта: избранное, сравнение, уведомления, подписка на результаты поиска и многое другое.
									.btn.small.blue.do-register Зарегистрироваться
								.clear
				<br><br>
				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=41")
							.action-title ЖК «Фили Град»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=42")
							.action-title Акция!
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=44")
							.action-title Ваша победа с ЖК «Царицыно»
					.clear

				.get-adv 
					.hero-title Подайте объявление на Квадрум.ру
					.icons-set.container-24.ac
						.grid-6
							.icon-i
								include ../i/love.svg
							.icon-title Лаконичный <br>дизайн

						.grid-6
							.icon-i
								include ../i/house.svg
							.icon-title Крупные <br>фотографии

						.grid-6
							.icon-i
								include ../i/click.svg
							.icon-title Доступное <br>продвижение

						.grid-6
							.icon-i
								include ../i/chart.svg
							.icon-title Эффективность <br>100%

						.clear
					.ac
						.btn.small.blue.do-register Подать объявление

				.container-24
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=51")
							.action-title ЖК «Фили Град»
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=52")
							.action-title Акция!
					.grid-8
						.action-block
							img(src="http://lorempixel.com/300/225/city/?r=54")
							.action-title Ваша победа с ЖК «Царицыно»
					.clear

		.wrapper.page-width
			include partials/footer

		script(src="js/offers-2.0.js")