extend _layout

block content
	.divider-30
	h1 Map test
	
	.complex-map.test-map(data-center="[55,25]", data-title="Текст&nbsp;Баллуна", data-zoom="10", data-url="http://ya.ru" data-area="[[[55.75, 37.80],[55.80, 37.90],[55.75, 38.00],[55.70, 38.00],[55.70, 37.80]]]")
		#test-map.map-container
		.links: a#fullscreen-trigger(href="#", target="_blank") Развернуть карту

	script(src="js/test-map.js")