body.version3 {

	a {
		&:hover {
			color:#2E8AE6;
			text-decoration:none;
		}
	}

	.inner {
			width: @page-width;
			margin: 0 auto;
		}

	.panoram {
		height: 420px;
		background: url('../i/city.jpg') top center;
		background-size: cover;

		.inner {
			padding: 110px 0;

			ul.input-group {
				margin: 0 auto;

				& > li {
					list-style-type: none;
					position: relative;
					float: left;
					vertical-align: top;
					margin-left: 0px;
					border:1px solid white;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
					border-left: 1px solid #dedede;

					&:first-child {
						border-left-color:white;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
						width:120px;

					}

					&:nth-child(2) {
						width: 131px;
					}

					&:nth-child(3) {
						width: 300px;
						border: none;
						border-left: 1px solid #dedede;
					}

					&:last-child {
						height: 40px;
						box-sizing: border-box;
						border: none;

						& > a {
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
							font-size: 1em;
						}
					}

					& > input {
						border-top-left-radius: 0px;
						border-top-right-radius: 0px;
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;
						margin-bottom: 0;
					}
					&.active {
						border: 1px solid #FFBF00;
						border-top-left-radius: 0px;
						border-top-right-radius: 0px;
						border-bottom-left-radius: 0px;
						border-bottom-right-radius: 0px;
					}

					&.active {
						border-color: #FFBF00;

						&:first-child {
							border-bottom-left-radius: 0px;
							border-left-style: solid;
							border-width: 1px;
						}
					}

				}

				.btn {
					height: 40px;
  					font-size: 16px;
					font-weight: normal;
					min-width: 100px;
					line-height: 38px;
					white-space: nowrap;
					overflow: hidden;
					width: auto;
					text-overflow: ellipsis;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
				}
			}
		}

		.hero-title {
			  margin: 50px 0 20px;
			  font-size: 39px;
			  font-weight: bold;
			  line-height: 50px;
			  color: #fff;
			  letter-spacing: 1px;
			  text-shadow: -1px 1px 11px rgba(0, 0, 0, 0.5);
		}

		.dropdown {
			border-color: #fff;
			padding-right: 30px;

			&.active {
				border-color: #FFBF00;
			}
		}

		.container-24 {
			margin-bottom: 20px;
		}

		.selectors {
			a {
				width: 101px;
				box-sizing: border-box;
				white-space: nowrap;
				text-align: center;
				border-color: transparent !important;
				border-left-color: #dedede !important;
				border-right-color: #dedede !important;
				
				&:first-child {
					border-left-color: transparent !important;
					border-right-color: #dedede !important;
				}

				&.active {
					border-color: #FFBF00 !important;
					font-weight: bold;
				}
			}
		}

		.main-page-search-strings {
			height: 40px;
			border:none;
			border-radius: 3px;
			width: 100%;
			padding: 0 14px;
			margin-bottom: 50px;
		}
	}

	.actions {

		.inner {
			padding: 50px 0;
		}

		.banner-item {

			transition:  color 0.3s ease, text-decoration 0.3s ease;

			&:hover {

				.banner-wrapper .inner-meta {
					opacity: 1;
					transform: translateY(0);
				}
				.banner-wrapper .inner-meta:before {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.banner-wrapper {
				// padding-bottom: 225px;
				position: relative;
				overflow: hidden;
				z-index: 1;
				// height: 0;

				.banner-anchor {
					  display: block;
					  // position: absolute;
					  // top: 0;
					  // left: 0;
					  // right: 0;
					  // bottom: 0;
					  cursor: pointer;
					  border-radius: 3px;
					  overflow: hidden;
					}

				.inner-image {

					overflow: hidden;

					img {
						border-radius: 3px;
					}
				}


				.inner-meta {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					padding: 16px;
					background: rgba(30,30,30,0.8);
					color: #fff;
					opacity: 0;
					transform: translateY(10px);
					transition: transform 0.35s ease, opacity 0.35s ease;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;

					// &:before {
					// 	content: '';
					// 	position: absolute;
					// 	top: 0;
					// 	left: 0;
					// 	right: 0;
					// 	bottom: 0;
					// 	background: linear-gradient(to top, rgba(30,30,30,0.8) 30%, transparent 100%) repeat-x;
					// 	transform: translateY(100%);
					// 	transition: transform 0.3s ease, opacity 0.45s ease; 
					// }

					.inner-text {
						font-weight: 700;
						font-size: 14px;
						color: #E8E8E8;
						line-height: 21px;
						position: relative;
						padding-bottom: 5px;
					}
					.inner-address {
						position: relative;
						font-size: 12px;
						line-height: 20px;
						color:#9FA09F;
					}
				}

			}

			.banner-title {
					padding-top: 10px;
					padding-left: 10px;
					font-weight: bold;
					font-size: 19px;
					line-height: 23px;
				}

		}

		.journal {
			margin:50px 0 50px;

			.journal-left, .journal-right {
				position: relative;
				width: 50%;
				float: left;
			}

			.journal-left {
				display: table-cell;
				vertical-align: middle;

				&:hover {
					.post-meta-wrapper {
						  background: #2E8AE6;
  						  color: #FFF;
					}
				}
			}

			.journal-body {
				margin-top: 20px;
				background-color: #fff;
				text-align: center;
				border: 1px solid #dedede;
				border-radius: 3px;
				overflow: hidden;
			}

			

			.post-image {
				height: 323px;
				overflow: hidden;
				border-radius: 3px 0 0 3px;
			}

			.post-image img {
				width: 100%;
				max-width:100%;
			}

			.post-meta-wrapper {
				opacity: 1;
				transition: all .3s ease;
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				background: rgba(255,255,255, 1);
				border-radius: 3px 0 0 3px;
			}

			.post-meta {
				position: relative;
				opacity: 1;
				width: 100%;
				height: 100%;
				transition: opacity .3s ease;

			}

			.meta-middle {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				padding: 0 14%;
			}

			.meta-small {
				display: inline;
				font-size: 18px;
				line-height: 18px;
			}

			.meta-teaser {
				display: inlnie;
				font-size: 27px;
				line-height: 40px;
				font-weight: 700;
			}
		}

		.journal-nav {
				text-align: left;

				li {
					display: block;
					position: relative;
					overflow: hidden;
					border-left: 1px solid #dedede;
					border-bottom: 1px solid #dedede;
					list-style-type: none;
					width: 100%;

					&:after {
						content: " ";
						position: absolute;
						z-index: 1;
						top: 0;
						right: 0;
						width: 90px;
						height: 80px;
						background: linear-radial(to right, #2E8AE6 0, white 100%) repeat-x;
						background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, white 100%) repeat-x;
						
					}

					a {
						display: block;
						font-size: 19px;
						line-height: 23px;
						background: white;
						

						&:hover {
							cursor: pointer;
							text-decoration: none;

							.push-image {
								margin-left: 0;
								
							}
						}

					}

					.push-text {
					    line-height: 80px;
					    padding-left: 20px;
					    display: inline-block;
					}

					.push-image {
						margin-left: -90px;
					    display: inline-block;
					    vertical-align: top;
					    transition: margin 0.3s ease;

					}

					&:last-child {
							border-bottom: none;
						}
				}
				
			}

		.btn-group-1,
		.btn-group-2 {
			margin-top:85px;
			margin-bottom: 45px;
		}

		.btn-group-2 {
			margin-bottom: 60px;
		}

		.get-adv {

			margin: 80px 0 60px;

			.hero-title {
				text-align: center;
				font-weight: bold;
				font-size: 36px;
				line-height: 45px;
				margin-top: 40px;
				margin-bottom: 40px;
			}
		
			.icons-set {
				margin-top: 40px;
				margin-bottom: 60px;
				text-align: center;

				.icon-i {
					height: 80px;
				}

				.icon-title {
					font-size: 19px;
					line-height: 25px;
				}
			}

			.icon-box {
				text-align: center;
			}

			.svg-dims {
				width: 120px;
				height: 120px;
				display: inline-block;

			}

			.svg-common() {
				background: url(../i/svg/sprite-88462800.svg) no-repeat;
			}

			.icon-svg-bigphoto {
				.svg-common();
				.svg-dims();
				background-position: 0 0;
			}

			.icon-svg-clicks {
				.svg-common();
				.svg-dims();
				background-position: 100% 0;
			}

			.icon-svg-design {
				.svg-common();
				.svg-dims();
				background-position: 0 100%;
			}

			.icon-svg-stats {
				.svg-common();
				.svg-dims();
				background-position: 100% 100%;
			}

		} 

		.btn {
			box-sizing: border-box;
			border-radius: 3px;
			width: 100%;
			box-shadow: 0 1px 5px -1px #ADADAD;
			background-color: #fff;
			height: auto;

			&:hover {
				cursor: pointer;
			}

			&.do-register {
				width: initial;
				line-height: 24px;
				font-size: 19px;
				padding: 12px 25px;
				box-shadow: none;
			}

			&.large {
				line-height: 31px;
				padding: 24px 25px;
				font-size: 25px;
			}
			&.al {
				text-align: left;
			}
		}

		.count:before {
		  content: attr(data-count);
		  position: absolute;
			top: 25%;
		  right: 28px;
		  font-weight: normal;
		  opacity: .5;
		  font-size: 16px;
		  line-height: 40px;
		}

		.fast-links {
			margin: 0px 0 5px;

			li {
				font-size: 16px;
				line-height: 34px;
				padding:0 6px;
				list-style-type: none;
				display: inline-block;
			}
		}

		.hero-block {

			margin: 50px 0;

			.hero-title {
				font-size: 36px;
				line-height: 40px;
				font-weight: bold;
				color: #000;
				margin-bottom: 28px;
			}

			.hero-text {
				margin-bottom: 40px;
				  line-height: 30px;
				  font-size: 19px;
			}
		}
	}

	.btn {
		border-radius: 2px;
		font-size: 19px;
		font-weight: bold;
		line-height: 50px;
		height: 50px;
		min-width: 200px;
		text-align: center;
		display: inline-block;
		position: relative;
		transition: .125s;
		text-decoration: none !important;

		&:active {
			transform: translateY(1px);
		}

		&.blue {
			background: #2E8AE6;
			color: #FFF;

			&:hover {
				background: #2E8AE6 + 15;
			}
		}
	}
}