.bottom-seo-block
  .seo-list
    .labels
      span.label.active(data-tab='tab0') Бизнес-центры в Москве
      span.label(data-tab='tab1') По районам
      a.label_link(target='blank', href='/moskovskaya_oblast/biznes-centri/') Бизнес-центры Подмосковья
    ul#tab0.tab.active
      li.column
        a.label_link(target='blank', href='/moskovskaya_oblast/biznes-centri/')
        ul
          a.label_link(target='blank', href='/moskovskaya_oblast/biznes-centri/')
          li
            a.label_link(target='blank', href='/moskovskaya_oblast/biznes-centri/')
            a(href='/moscow/vao/biznes-centri/')
              span.title
              span Восточный
            span  (41)
          li
            a(href='/moscow/zao/biznes-centri/')
              span.title
              span Западный
            span  (46)
          li
            a(href='/moscow/novomoskovsky/biznes-centri/')
              span.title
              span Новомосковский
            span  (6)
          li
            a(href='/moscow/sao/biznes-centri/')
              span.title
              span Северный
            span  (70)
      li.column
        ul
          li
            a(href='/moscow/svao/biznes-centri/')
              span.title
              span Северо-Восточный
            span  (49)
          li
            a(href='/moscow/szao/biznes-centri/')
              span.title
              span Северо-Западный
            span  (18)
          li
            a(href='/moscow/tsao/biznes-centri/')
              span.title
              span Центральный
            span  (278)
          li
            a(href='/moscow/uvao/biznes-centri/')
              span.title
              span Юго-Восточный
            span  (43)
      li.column
        ul
          li
            a(href='/moscow/uzao/biznes-centri/')
              span.title
              span Юго-Западный
            span  (35)
          li
            a(href='/moscow/uao/biznes-centri/')
              span.title
              span Южный
            span  (80)
    ul#tab1.tab
      li.column
        ul
          li
            a(href='/moscow/uzao/akademicheskiy/biznes-centri/')
              span.title
              span Академический
            span  (5)
          li
            a(href='/moscow/svao/alekseevskiy/biznes-centri/')
              span.title
              span Алексеевский
            span  (4)
          li
            a(href='/moscow/svao/altufevskiy/biznes-centri/')
              span.title
              span Алтуфьевский
            span  (2)
          li
            a(href='/moscow/tsao/arbat/biznes-centri/')
              span.title
              span Арбат
            span  (13)
          li
            a(href='/moscow/sao/aeroport/biznes-centri/')
              span.title
              span Аэропорт
            span  (7)
          li
            a(href='/moscow/svao/babushkinskiy/biznes-centri/')
              span.title
              span Бабушкинский
            span  (1)
          li
            a(href='/moscow/tsao/basmanniy/biznes-centri/')
              span.title
              span Басманный
            span  (49)
          li
            a(href='/moscow/sao/begovoy/biznes-centri/')
              span.title
              span Беговой
            span  (12)
          li
            a(href='/moscow/sao/beskudnikovskiy/biznes-centri/')
              span.title
              span Бескудниковский
            span  (1)
          li
            a(href='/moscow/uao/birulevo-zapadnoe/biznes-centri/')
              span.title
              span Бирюлево Западное
            span  (1)
          li
            a(href='/moscow/vao/bogorodskoe/biznes-centri/')
              span.title
              span Богородское
            span  (4)
          li
            a(href='/moscow/svao/butirskiy/biznes-centri/')
              span.title
              span Бутырский
            span  (11)
          li
            a(href='/moscow/sao/voykovskiy/biznes-centri/')
              span.title
              span Войковский
            span  (6)
          li
            a(href='/moscow/sao/vostochnoe-degunino/biznes-centri/')
              span.title
              span Восточное Дегунино
            span  (2)
          li
            a(href='/moscow/vao/vostochnoe-izmaylovo/biznes-centri/')
              span.title
              span Восточное Измайлово
            span  (2)
          li
            a(href='/moscow/uvao/vihino-julebino/biznes-centri/')
              span.title
              span Выхино-Жулебино
            span  (1)
          li
            a(href='/moscow/uzao/gagarinskiy/biznes-centri/')
              span.title
              span Гагаринский
            span  (2)
          li
            a(href='/moscow/vao/golyanovo/biznes-centri/')
              span.title
              span Гольяново
            span  (2)
          li
            a(href='/moscow/uao/danilovskiy/biznes-centri/')
              span.title
              span Даниловский
            span  (36)
          li
            a(href='/moscow/sao/dmitrovskiy/biznes-centri/')
              span.title
              span Дмитровский
            span  (1)
          li
            a(href='/moscow/uao/donskoy/biznes-centri/')
              span.title
              span Донской
            span  (18)
          li
            a(href='/moscow/zao/dorogomilovo/biznes-centri/')
              span.title
              span Дорогомилово
            span  (11)
          li
            a(href='/moscow/tsao/zamoskvorechie/biznes-centri/')
              span.title
              span Замоскворечье
            span  (30)
          li
            a(href='/moscow/sao/zapadnoe-degunino/biznes-centri/')
              span.title
              span Западное Дегунино
            span  (1)
          li
            a(href='/moscow/uzao/zuzino/biznes-centri/')
              span.title
              span Зюзино
            span  (2)
          li
            a(href='/moscow/vao/izmaylovo/biznes-centri/')
              span.title
              span Измайлово
            span  (2)
          li
            a(href='/moscow/uzao/konkovo/biznes-centri/')
              span.title
              span Коньково
            span  (4)
          li
            a(href='/moscow/sao/koptevo/biznes-centri/')
              span.title
              span Коптево
            span  (3)
          li
            a(href='/moscow/uzao/kotlovka/biznes-centri/')
              span.title
              span Котловка
            span  (4)
          li
            a(href='/moscow/tsao/krasnoselskiy/biznes-centri/')
              span.title
              span Красносельский
            span  (14)
          li
            a(href='/moscow/zao/krilatskoe/biznes-centri/')
              span.title
              span Крылатское
            span  (4)
          li
            a(href='/moscow/zao/kuntsevo/biznes-centri/')
              span.title
              span Кунцево
            span  (2)
      li.column
        ul
          li
            a(href='/moscow/sao/levoberegniy/biznes-centri/')
              span.title
              span Левобережный
            span  (1)
          li
            a(href='/moscow/uvao/lefortovo/biznes-centri/')
              span.title
              span Лефортово
            span  (9)
          li
            a(href='/moscow/svao/lianozovo/biznes-centri/')
              span.title
              span Лианозово
            span  (1)
          li
            a(href='/moscow/uzao/lomonosovskiy/biznes-centri/')
              span.title
              span Ломоносовский
            span  (3)
          li
            a(href='/moscow/uvao/lublino/biznes-centri/')
              span.title
              span Люблино
            span  (3)
          li
            a(href='/moscow/svao/marfino/biznes-centri/')
              span.title
              span Марфино
            span  (2)
          li
            a(href='/moscow/svao/maryina-rosha/biznes-centri/')
              span.title
              span Марьина Роща
            span  (9)
          li
            a(href='/moscow/vao/metrogorodok/biznes-centri/')
              span.title
              span Метрогородок
            span  (1)
          li
            a(href='/moscow/tsao/meshanskiy/biznes-centri/')
              span.title
              span Мещанский
            span  (19)
          li
            a(href='/moscow/szao/mitino/biznes-centri/')
              span.title
              span Митино
            span  (1)
          li
            a(href='/moscow/zao/mogayskiy/biznes-centri/')
              span.title
              span Можайский
            span  (9)
          li
            a(href='/moscow/sao/molganinovskiy/biznes-centri/')
              span.title
              span Молжаниновский
            span  (1)
          li
            a(href='/moscow/uao/moskvorechie-saburovo/biznes-centri/')
              span.title
              span Москворечье-Сабурово
            span  (4)
          li
            a(href='/moscow/uao/nagatino-sadovniki/biznes-centri/')
              span.title
              span Нагатино-Садовники
            span  (7)
          li
            a(href='/moscow/uao/nagorniy/biznes-centri/')
              span.title
              span Нагорный
            span  (5)
          li
            a(href='/moscow/uvao/nijegorodskiy/biznes-centri/')
              span.title
              span Нижегородский
            span  (10)
          li
            a(href='/moscow/vao/novogireevo/biznes-centri/')
              span.title
              span Новогиреево
            span  (3)
          li
            a(href='/moscow/uzao/obruchevskiy/biznes-centri/')
              span.title
              span Обручевский
            span  (5)
          li
            a(href='/moscow/uao/orehovo-borisovo-severnoe/biznes-centri/')
              span.title
              span Орехово-Борисово Северное
            span  (1)
          li
            a(href='/moscow/uao/orehovo-borisovo-yugnoe/biznes-centri/')
              span.title
              span Орехово-Борисово Южное
            span  (1)
          li
            a(href='/moscow/svao/ostankinskiy/biznes-centri/')
              span.title
              span Останкинский
            span  (4)
          li
            a(href='/moscow/svao/otradnoe/biznes-centri/')
              span.title
              span Отрадное
            span  (7)
          li
            a(href='/moscow/zao/ochakovo-matveevskoe/biznes-centri/')
              span.title
              span Очаково-Матвеевское
            span  (5)
          li
            a(href='/moscow/vao/perovo/biznes-centri/')
              span.title
              span Перово
            span  (5)
          li
            a(href='/moscow/uvao/pechatniki/biznes-centri/')
              span.title
              span Печатники
            span  (8)
          li
            a(href='/moscow/szao/pokrovskoe-streshnevo/biznes-centri/')
              span.title
              span Покровское-Стрешнево
            span  (3)
          li
            a(href='/moscow/vao/preobragenskoe/biznes-centri/')
              span.title
              span Преображенское
            span  (5)
          li
            a(href='/moscow/tsao/presnenskiy/biznes-centri/')
              span.title
              span Пресненский
            span  (36)
          li
            a(href='/moscow/zao/prospekt-vernadskogo/biznes-centri/')
              span.title
              span Проспект Вернадского
            span  (3)
          li
            a(href='/moscow/zao/ramenki/biznes-centri/')
              span.title
              span Раменки
            span  (3)
          li
            a(href='/moscow/uvao/riazanskiy/biznes-centri/')
              span.title
              span Рязанский
            span  (6)
          li
            a(href='/moscow/sao/savelovskiy/biznes-centri/')
              span.title
              span Савеловский
            span  (6)
      li.column
        ul
          li
            a(href='/moscow/svao/sviblovo/biznes-centri/')
              span.title
              span Свиблово
            span  (2)
          li
            a(href='/moscow/vao/severnoe-izmaylovo/biznes-centri/')
              span.title
              span Северное Измайлово
            span  (1)
          li
            a(href='/moscow/svao/severnoe-medvedkovo/biznes-centri/')
              span.title
              span Северное Медведково
            span  (1)
          li
            a(href='/moscow/sao/sokol/biznes-centri/')
              span.title
              span Сокол
            span  (1)
          li
            a(href='/moscow/vao/sokolinaya-gora/biznes-centri/')
              span.title
              span Соколиная Гора
            span  (9)
          li
            a(href='/moscow/vao/sokolniki/biznes-centri/')
              span.title
              span Сокольники
            span  (7)
          li
            a(href='/moscow/szao/strogino/biznes-centri/')
              span.title
              span Строгино
            span  (3)
          li
            a(href='/moscow/tsao/taganskiy/biznes-centri/')
              span.title
              span Таганский
            span  (20)
          li
            a(href='/moscow/tsao/tverskoy/biznes-centri/')
              span.title
              span Тверской
            span  (57)
          li
            a(href='/moscow/uvao/tekstilshiki/biznes-centri/')
              span.title
              span Текстильщики
            span  (3)
          li
            a(href='/moscow/uzao/tepliy-stan/biznes-centri/')
              span.title
              span Теплый Стан
            span  (2)
          li
            a(href='/moscow/sao/timiriazevskiy/biznes-centri/')
              span.title
              span Тимирязевский
            span  (4)
          li
            a(href='/moscow/zao/troparevo-nikulino/biznes-centri/')
              span.title
              span Тропарево-Никулино
            span  (1)
          li
            a(href='/moscow/zao/filevskiy-park/biznes-centri/')
              span.title
              span Филевский Парк
            span  (7)
          li
            a(href='/moscow/zao/fili-davidkovo/biznes-centri/')
              span.title
              span Фили-Давыдково
            span  (1)
          li
            a(href='/moscow/tsao/hamovniki/biznes-centri/')
              span.title
              span Хамовники
            span  (21)
          li
            a(href='/moscow/sao/hovrino/biznes-centri/')
              span.title
              span Ховрино
            span  (2)
          li
            a(href='/moscow/szao/horoshevo-mnevniki/biznes-centri/')
              span.title
              span Хорошево-Мневники
            span  (4)
          li
            a(href='/moscow/sao/horoshevskiy/biznes-centri/')
              span.title
              span Хорошевский
            span  (22)
          li
            a(href='/moscow/uzao/cheremushki/biznes-centri/')
              span.title
              span Черемушки
            span  (6)
          li
            a(href='/moscow/uao/chertanovo-severnoe/biznes-centri/')
              span.title
              span Чертаново Северное
            span  (2)
          li
            a(href='/moscow/uao/chertanovo-tsentralnoe/biznes-centri/')
              span.title
              span Чертаново Центральное
            span  (2)
          li
            a(href='/moscow/uao/chertanovo-yugnoe/biznes-centri/')
              span.title
              span Чертаново Южное
            span  (3)
          li
            a(href='/moscow/szao/shukino/biznes-centri/')
              span.title
              span Щукино
            span  (3)
          li
            a(href='/moscow/svao/yugnoe-medvedkovo/biznes-centri/')
              span.title
              span Южное Медведково
            span  (1)
          li
            a(href='/moscow/szao/ugnoe-tushino/biznes-centri/')
              span.title
              span Южное Тушино
            span  (4)
          li
            a(href='/moscow/uvao/ugnoportoviy/biznes-centri/')
              span.title
              span Южнопортовый
            span  (3)
          li
            a(href='/moscow/tsao/yakimanka/biznes-centri/')
              span.title
              span Якиманка
            span  (19)
          li
            a(href='/moscow/svao/yaroslavskiy/biznes-centri/')
              span.title
              span Ярославский
            span  (4)
          li
            a(href='/moscow/uzao/yasenevo/biznes-centri/')
              span.title
              span Ясенево
            span  (2)
    ul#tab2.tab
  .divider-20
  .bottom-text.have-icon
    span.text-label
      i.icon-font.icon-font-logo_k
    | Максимально полная база бизнес-центров в Москве и Подмосковье. Данные собраны вручную и корректируются ежедневно. Выбрав бизнес-центр в базе вы можете посмотреть все предлагаемые в нем офисных помещения в аренду и на продажу.
  .clear