.offer-transport-params
  .item: span
      span.type-icon: i.icon-font.icon-font-soc_metro.metro
      span.link Библиотека им. Ленина
      span.postfix 15 мин пешком

  .item: span
      span.type-icon: i.icon-font.icon-font-soc_train.train
      span.link Очаково

  .item: span
      span.type-icon: i.icon-font.icon-font-highway.highway
      span.link Киевское шоссе
      span.postfix 10 км от МКАД

  .clear