.valutes-bar
	span.sect
		span.title USD
		span.subtitle ЦБ РФ
		span.value 33.4343
		span.value.positive +33.434
		
	span.sect
		span.title EUR
		span.subtitle ЦБ РФ
		span.value 45.5175
		span.value.positive +45.518

	span.sect-right
		span.title Ипотека:
		span.div
		span.subtitle Сбербанк
		span.value 14,5%
		span.div2x
		span.subtitle ВТБ 24
		span.value 15,95%
		span.div2x
		span.subtitle Газпромбанк
		span.value 19,6%